<ion-view view-title="Setting">
    <ion-content>        
        <div class="content has-header padding">
            <h4>Contact</h4>
            <ul class="list">
                <li class="item item-toggle">
                   Contact
                   <label class="toggle toggle-positive">
                     <input type="checkbox" ng-checked="setting.contact.local" ng-model="setting.contact.local">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                </li>        
            </ul>
            <h4>Your Personal Detail</h4>
            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Telephone</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Telephone</span>
                <input type="text">
            </label>
            <h4>Your Address</h4>
            <label class="item item-input">
                <span class="input-label">Company</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Company Id</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">City</span>
                <input type="text">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                   Country
                </div>
                <select>
                    <option>Vietnam</option>
                    <option selected>Lao</option>
                    <option>Thailand</option>
                    <option>Singapore</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                   Region / State:
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Post Code</span>
                <input type="text">
            </label>
            <h4>Your Password</h4>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">Password Confirm</span>
                <input type="password">
            </label>            
            <button class="button button-block button-positive">
               Register
            </button>
        </div>        
    </ion-content>
</ion-view>