<ion-view view-title="WordPress">
  <ion-content class="wp dashboard">
    <div class="row">
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-document-text icon-x3" ng-click="goPage('news')"></i></a><br/>News                      
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-bag icon-x3"></i><br/>Products                      
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-images icon-x3"></i><br/>Gallery                      
        </div>
    </div>
    <div class="row">
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-pricetags icon-x3"></i><br/>Categories                     
        </div>        
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-social-rss icon-x3"></i><br/>Rss                    
        </div>       
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-map icon-x3"></i><br/>Map                      
        </div>    
    </div>
    <div class="row">   
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-person-stalker icon-x3"></i><br/>About Us                   
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-email icon-x3"></i><br/>Contact
        </div>   
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-stats-bars icon-x3"></i><br/>Chart                      
        </div>                          
    </div>
    <div class="row">
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-home icon-x3"></i><br/> Stores               
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-cash icon-x3"></i><br/> Promotions                    
        </div>       
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-log-in icon-x3"></i><br/> SignIn/SignUp                  
        </div>
    </div> 
    <div class="row">
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-paper-airplane icon-x3"></i><br/> Push Notifications                      
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-search icon-x3"></i><br/>Search                      
        </div>       
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-social-wordpress icon-x3"></i><br/> WordPress                  
        </div>
    </div>     
  </ion-content>
</ion-view>