<ion-view view-title="News">
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <div class="list products">                
                <a ng-repeat="item in news"  class="item item-thumbnail-left" href="#">
                    <img src="{{item.thumbnail_images.medium.url}}">
                    <h2>{{item.title}}</h2>
                    <p>{{item.title_plain}}</p>
                  </a>
            </div>
        </ion-list>
        <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded()"
            icon="ion-loading-c"
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
    