<ion-view view-title="Dashboard">
  <ion-content>
    <div class="row">
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-document-text icon-x3" ng-click="goPage('news')"></i></a><br/>News                      
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-bag icon-x3"></i><br/>Products                      
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-images icon-x3"></i><br/>Gallery                      
        </div>
    </div>
    <div class="row">
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-person-stalker icon-x3"></i><br/>Users                      
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-map icon-x3"></i><br/>Map                      
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-social-rss icon-x3"></i><br/>Rss                    
        </div>
    </div>
    <div class="row">
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-stats-bars icon-x3"></i><br/>Chart                      
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-folder icon-x3"></i><br/>Categories                     
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-paper-airplane icon-x3"></i><br/>Notifications                      
        </div>
    </div>
    <div class="row">
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-search icon-x3"></i><br/>Search                      
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-social-wordpress icon-x3"></i><br/> WordPress                  
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-music-note icon-x3"></i><br/>Playlists                      
        </div>
    </div>
    <div class="row">
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-radio-waves icon-x3" ng-click="vibration()"></i><br/> Vibration                    
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-qr-scanner icon-x3"></i><br/> Barcode               
        </div>
        <div class="col col-center padding-horizontal padding-vertical">
            <i class="icon ion-battery-charging icon-x3"></i><br/>Battery                      
        </div>
    </div>  
  </ion-content>
</ion-view>